$Morado_oscuro: #6A1B9A;
$Morado_medio: #9C27B0;
$Morado_claro: #E040FB;
$Lila: #BA68C8;
$Purpura: #673AB7;
$Violeta: #8E24AA;
$Lavanda: #E6E6FA;
$Malva: #DCDCDC;
$Orquídea: #9932CC;
$Glicina: #C9A0DC;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body 
{

    background-color: #000000;
    font-family: 'Montserrat', sans-serif;

}

