<mat-toolbar class = "tool_color" color="primary">

    <a href="http://www.google.com"><mat-icon fontIcon="home"></mat-icon></a>
    <div class="spacer"></div>
    <div class="margin"></div>
    <a mat-button href ="about">Acerca de</a>
    <div class="margin"></div>
    <a mat-button href ="experience">Experiencia</a>
    <div class="margin"></div>
    <a mat-raised-button class="custom-button" href ="https://www.linkedin.com/in/oswaldo-rene-lopez-aquino-0a012014b/">Contacto</a>

</mat-toolbar>