@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.spacer {
    flex: 1 1 auto;
}

.tool_color {
    background-color: #6A1B9A;
}

.base_button {
    color: #FFFFff;

}

.element{
    width: 100%;
}

.margin {
    padding: 10px;
}


a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

}

button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

  .custom-button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #00C853 !important;
    color: white !important;
  }

